.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navLeft {
    font-size: 1.5em;
    font-weight: bold;
    color: aliceblue;
}

.navRight {
    display: flex;
    gap: 15px;
}

.navButton {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navButton:hover {
    background-color: #555;
}

.charityName {
    font-size: 1.2em;
}